.header {
    background-image: url("./assets/banner.png");
      
    height: 750px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 200px;
}
.title {
    margin-top: 220px;
    margin-left: 250px;
}

.banner-title {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
  }
.button-rd {
    margin-left: 90px;
    margin-top: 8px;
}

.banner-img img {
    height: 677px;
    padding: 20px 20px 0px 20px;
  }
.banner-img {
    margin-top: -90px;
    margin-left: -250px;
  }
.icons {
    margin:0px 50px;
    background-color: rgb(244, 244, 244);
}
.box {
    height: 280px;
    width: 360px;
    border: 1px solid rgb(194, 191, 191);
    text-align: center;
}